@using Entities
@model List<Slider>
<div class="intro-slider-container">
    <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
        @foreach (var item in Model)
        {
            <div class="intro-slide" style="background-image: url(/images/demos/demo-2/slider/slide-1.jpg);">
                <div class="container intro-content">
                    <h3 class="intro-subtitle"> @item.Header.ToUpper() </h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title">@item.Description</h1><!-- End .intro-title -->

                    <a href="category.html" class="btn btn-primary">
                        <span>Shop Now</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .container intro-content -->
            </div><!-- End .intro-slide -->
        }
    </div><!-- End .owl-carousel owl-simple -->

    <span class="slider-loader text-white"></span><!-- End .slider-loader -->
</div><!-- End .intro-slider-container -->