@using Entities;
@model List<About>
@{
    Layout="_AboutLayout";
}
       <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('/images/about-header-bg.jpg')">
        			<h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->
            
            <div class="page-content pb-0">
                
         
                <div class="container">
                    <div class="row">
                       @foreach (var item in Model)
                       {
                    
                
                        
                          <div class="col-lg-6 mb-3 mb-lg-0">
                            <h2 class="title">Our Vision</h2><!-- End .title -->
                            <p>@item.OurVision.ToString()</p>
                        </div><!-- End .col-lg-6 -->
                        
                        <div class="col-lg-6">
                            <h2 class="title">Our Mission</h2><!-- End .title -->
                            <p> @item.OurMission.ToString() </p>
                        </div><!-- End .col-lg-6 -->
                      
                      }
                    </div><!-- End .row -->
                   
                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->
               
                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                    <div class="container">
                        <div class="row">
                        
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-5 mb-3 mb-lg-0">
                                <h2 class="title">Who We Are</h2><!-- End .title -->
                              
                                <p class="mb-2">@item.WhoWeAre.ToString()</p>

                            </div><!-- End .col-lg-5 -->
                    }
                         
                    
                           

                            <div class="col-lg-6 offset-lg-1">
                                <div class="about-images">
                                    <img src="/images/about/img-1.jpg" alt="" class="about-img-front">
                                    <img src="/images/about/img-2.jpg" alt="" class="about-img-back">
                                </div><!-- End .about-images -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->
                  
            </div><!-- End .page-content -->
        </main><!-- End .main -->
